.newestproducts {
    background-color: #f4f6f5;
    padding: 120px 0 112px 0;   

    &__title {
        color: #263238;
        font-family: 'Roboto';
        font-size: 36px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;        
    }

    &__tabs {
        display: flex;
        justify-content: center;
        margin: 60px 0;         
    }

    &__tabs-item {        
        margin-left:6px;        
    }

    &__tabs-item-link {
        display: inline-block;
        background-color: #ffffff;
        color: #263238;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        padding: 14px 28px;
        outline-style: none;
    }

    &__tabs-item-link--active {
        color: #ffffff;
        box-shadow: 0 2px 5px rgba(202, 215, 228, 0.75);
        background-color: #e74c3c;
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 30px;

        &__product {  
            width: 290px;
            height: 408px;
            box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
            background-color: #d4d4d4;
            margin: 0 30px 30px 0;
        }
    }    
}
